@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: bisque;
  color: #333;
}

p {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header style start*/
.button-brown {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  width: 180px;
  height: 36px;
  background: #756157;
  border-radius: 4px;
  border: 0;
}

.page-header {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-list {
  list-style-type: none;
}

.navigation-link {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

.navigation-user a {
  width: 18px;
  height: 18px;
}

/* Header style end*/
/* Body style start*/
.welcome {
  background-image: url("../images/images_main/background_images/welcome_background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.advantages-main {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

.advantages-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item {
  color: black;
}

.advantages-list li:first-child {
  color: white;
}

.advantages-list li:last-child {
  color: white;
}

.service-main {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.service-item {
  width: 400px;
  height: 385px;
  text-align: center;
}

.search-hotel {
  width: 275px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: #756157;
  border-radius: 4px;
  border: 0;
  padding: 8px 50px;
  text-decoration: none;
}

.subscribe {
  background-image: url(../images/images_main/background_images/subscribe_background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 258px 104px;
  color: white;
}

.subscribe>h2 {
  color: white;
}

.button-blue {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  width: 180px;
  height: 36px;
  background: #82B3D3;
  border-radius: 4px;
  border: 0;
}

.footer-contacts-address-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}