@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

/* Other start */
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333;
}

.button-brown {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  width: 180px;
  height: 36px;
  background: #756157;
  border-radius: 4px;
  border: 0;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style-type: none;
}

.button-blue {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  width: 180px;
  height: 36px;
  background: #82b3d3;
  border-radius: 4px;
  border: 0;
}

.other {
  color: #000000;
  background-color: white;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* Other end */

/* Header start */
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  height: 64px;
}

.navigation-item-logo {
  z-index: 99;
}

.page-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 510px;
  padding: 0;
  margin: 0;
  height: 76px;
}

.navigation-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 270px;
  margin: 0;
  margin-top: 14px;
  margin-left: auto;
}

.navigation-link {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

.navigation-user a {
  width: 18px;
  height: 18px;
}

.navigation-item {
  margin-right: 24px;
  padding-bottom: 20px;
}

/* Header end */

/* Main start */
.advantages p {
  text-align: center;
}

.service p {
  text-align: center;
}

.welcome {
  background: url(../images/images_main/background_images/welcome_vector.svg) bottom center no-repeat, url("../images/images_main/background_images/welcome_background.jpg") center no-repeat;
  background-color: #82b3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 51px 371px 82px;
}

.advantages h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
}

.text-container-advantages {
  width: 1200px;
  box-sizing: border-box;
  text-align: center;
  padding: 70px 250px;
  margin-bottom: 21px;
}

.text-container-advantages p {
  font-size: 21px;
  padding: 0;
}

.text-container-service {
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  padding: 70px 275px;
}

.service h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.advantages-main {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  color: black;
  background: rgba(131, 179, 211, 0.12);
}

.item-img {
  width: auto;
}

.item-text {
  box-sizing: border-box;
  padding: 112.5px 85px;
}

.text-separator {
  display: block;
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.advantages-list li:nth-child(4) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-list li:first-child {
  padding: 101.5px 85px;
  color: white;
  background-color: #82B3D3;
}

.advantages-list li:first-child .text-separator {
  background: rgba(255, 255, 255, 0.3);
}

.advantages-list li:last-child .text-separator {
  background: rgba(255, 255, 255, 0.3);
}

.advantages-list li:last-child {
  padding: 101.5px 85px;
  background-color: #82B3D3;
  color: white;
}

.advantages-item h3 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.advantages-item p {
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

.item-img img {
  display: block;
}

.service-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.service-main {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.service-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 81px 85px;
}

.service-item img {
  display: block;
  margin-bottom: 30px;
}

.service-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.service-list li:first-child {
  background: rgba(131, 179, 211, 0.12);
}

.service-list li:last-child {
  background: rgba(131, 179, 211, 0.12);
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
}

.search p {
  width: 592px;
  margin-bottom: 54px;
}

.search-hotel {
  width: 375px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  color: white;
  background: #756157;
  border-radius: 4px;
  border: 0;
  padding: 8px 50px;
  text-decoration: none;
}

.subscribe {
  background-image: url(../images/images_main/background_images/subscribe_background.jpg);
  background-color: #82b3d3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 258px 104px;
  color: white;
}

.subscribe p {
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe h2 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: white;
  text-transform: uppercase;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  width: 232px;
  height: 52px;
  background: #82b3d3;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 0;
  padding: 0;
  margin: 0;
}

.form-subscribe {
  display: flex;
  justify-content: space-between;
}

.field {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  width: 452px;
  flex-grow: 1;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 0;
  padding-left: 25px;
}

.filter-background {
  background-image: url(../images/images_catalog/catalog_hotels_background.jpg);
  background-color: #82b3d3;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  margin: 0;
  padding-top: 35px;
  padding-left: 70px;
  padding-bottom: 72px;
  padding-right: 70px;
  margin-bottom: 50px;
}

.hotel-filter-group {
  border: none;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.hotel-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.button-no-border {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: none;
  border: none;
  color: white;
}

.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control>option {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.button {
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  background-color: white;
}

.button-light-all {
  background-image: url(../images/images_catalog/icons/icon_all_cards.svg);
  background-repeat: no-repeat;
}

.button-light-one {
  background-image: url(../images/images_catalog/icons/icon_one_card.svg);
  background-repeat: no-repeat;
}

.button-light-list {
  background-image: url(../images/images_catalog/icons/icon_list.svg);
  background-repeat: no-repeat;
}

.detail {
  text-decoration: none;
  width: 140px;
  height: 36px;
  color: white;
}

.name-hotel {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card>span {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.button-hotel-rating {
  background: #f2f2f2;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  width: 180px;
  height: 36px;
}

.hotel-card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.pagination {
  list-style-type: none;
  display: flex;
}

.pagination li {
  margin-right: 8px;
}

.subscribe-catalog {
  text-align: center;
  padding: 96px 258px 104px;
}

.pagination-link {
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-radius: 4px;
  border: none;
  color: white;
}

/* Main end */

/* Footer start */
footer {
  padding: 40px 70px 30px;
}

.page-footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
}

.footer-social {
  width: 145px;
  margin-right: 236px;
}

.footer-social-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-academy {
  margin-left: auto;
  max-width: 115px;
}

.footer-contacts {
  width: 345px;
}

.footer-contacts-address-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

/* Footer end */
/* Catalog start */
.inner-header-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs li {
  margin-right: 8px;
}

.hotel-filter {
  display: flex;
}

.catalog-hotels {
  margin: 0;
  padding: 0;
}

.hotel-filter fieldset {
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.hotel-filter-list {
  padding: 0;
  width: 150px;
}

.hotel-filter fieldset:nth-child(2) {
  margin-right: 140px;
}

.hotel-filter-group .field {
  width: 143px;
}

.hotel-filter-apply-reset {
  margin-right: 70px;
}

.filter-search-result {
  width: 1060px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 40px;
}

.filter-search-result li h2 {
  margin-right: 200px;
}

.filter-search-result li select {
  width: 292px;
  margin-right: 70px;
}

.catalog-container {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.hotel-list li {
  width: 338px;
  margin-right: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.hotel-list li:nth-child(3n+3) {
  margin: 0;
}

.hotel-list li h3 {
  width: 300px;
}

/* Catalog end */